*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  place-content: center center;
  flex-wrap: wrap;
  inline-size: 1200px; 
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  gap: 30px;
  width: 1140px;
  height: 534px;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.content__card-link {
  display: block;
  text-decoration: none;
  outline-offset: -2px;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration-line: underline;
  text-underline-offset: 7px;
  text-decoration-thickness: 2px;
  color:#fff;
}

.content__card-link:focus {
  border: none;
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link_current {
  background-color: #545050;
}

.content__list-item:not(:last-of-type) {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.content__video-card {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 394px;
  height: 107px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 107px;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.content__details {
  display: flex;
  flex-direction: column;
  width: 399px;
  height: 534px;
  gap: 26px;
}

.content__list {
  position: relative;
  gap: 30px;
  overflow:hidden scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  width: 399px;
  height: 299px;
}

.content__list::-webkit-scrollbar {
  width: 1px; /* Ширина всего элемента навигации */
}

.content__list::-webkit-scrollbar-track {
  background: transparent; /* Цвет дорожки */
}

.content__list::-webkit-scrollbar-thumb {
  background-color: transparent; /* Цвет бегунка */
  border-radius: 20px; /* Округление бегунка */
  border: 3px solid transparent; /* Оформление границ бегунка */
}

.content__accent {
  color: #545050;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%; /* 70.5px */
  text-transform: uppercase;
  width: 260px;
  height: 210px;
}

.button {
  height: 34px;
  color: #FFF;
  background-color: #1b1919;
  text-align: center;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  border: 1px solid #fff;
}

.button:hover {
  text-decoration-line: underline;
  text-underline-offset: 4px;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px double #fff;
  outline-offset: -3px;
}

.more-button {
  width: 100%;
}

.search-form {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 30px;
}

.search-form__textfield {
  font-family: inherit;
  background-color: inherit;
  color: #FFF;
  border: none;
  cursor: text;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: 27px;
  min-width: 225px;
  appearance: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.search-form__textfield:active {
  border: 1px solid #fff;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
  width: fit-content;
}

.search-form__pseudo-checkbox {
  display: flex;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: fit-content;
  cursor:pointer;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration-line: underline;
  text-underline-offset: 4px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  align-self:flex-start;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 0;
}

 .search-form__fieldset-title {
  color: #FFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom:5px;
}

.search-form__submit-button {
  width: 194px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}


input[type=checkbox]:disabled + span {
  width: 19px;
  height: 19px;
  margin: 0;
  accent-color: transparent; 
}

input[type=checkbox]:checked + span {
  background-color: #FFF;
  outline: 3px double #1b1919;
  outline-offset: -2px;
}
